fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
python-dotenv
pytest
httpx
python-multipart
google-genai
google-cloud-firestore
python-json-logger
python-jose[cryptography]
passlib[bcrypt]
redis
